# ignore theses folders
.idea/
node_modules/
www/lib/css/img/
mdb/mdbdata/db

# ignore theses files
README
jslint_settings.png

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*